<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1> 게시글 페이지tes </h1>
<table id="articleTable">
  <thead>
    <th>해시태그</th>
    <th>제목</th>
    <th>작성자</th>
    <th>조회 수</th>
    <th>추천 수</th>
    <th>생성 일시</th>
  </thead>
  <tbody>
    <tr >
      <td class="hashtag">#java</td>
      <td class="title">첫 글</td>
      <td class="createdBy">uno</td>
      <td class="viewCount">2</td>
      <td class="likeCount">3</td>
      <td class="createdAt">2022-02-17 10:15</td>
    </tr>
  </tbody>
</table>
</body>
</html>